.link
{
	width: 100%;
	text-align: right;
    display: separate;
    height: 100%;
}

#cinema-title
{
    font-size: 25px;
    margin-top: -60px;
}

table
{
    border-collapse: separate;
    border-spacing: 0px 10px;
}

tr:hover
{
    cursor: pointer;
}

td
{
    padding: 10px 10px;
    border-bottom: 2px solid #4a708b;
    border-top: 2px solid #4a708b;
    vertical-align: top;
}

td:first-child
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 2px solid #4a708b;
}

td:last-child
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 2px solid #4a708b;
}