#city-picker-div
{
    margin: 0px auto;
    width: 100%;
}

#success-text
{
    text-align: center;
}

#main-div
{
    margin-top: -60px;
}

#maps-div
{
    width: 100%;
    height: 350px;
}

button
{
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}

button:hover
{
    background-color: #4a708b;
    color: white;
}

#picker-title
{
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
}
