body
{
    background-color: #9fbbd2;
}

button
{
    padding: 5px;
    border: 0 none;
    background-color: greenyellow;
    transition: background .5s;
}

button:hover
{
    background-color: yellowgreen;
}

#input_warning, #show_div
{
    display: none;
}