select
{
    border: 2px solid #ccc !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    color: #202020;
    padding-left: 5px;
    width: 120px;
}

#main_div
{
    margin-top: -60px;
}

#title_text
{
    font-family: cursive;
    font-size: 25px;
    display: block;
    text-align: center;
    margin-bottom: -20px;
}

#main_table, #cloth_picker
{
    margin: 0 auto;
}

#details_table
{
    margin: 0px 0px 0px 60px;
}

#cloth_picker tr td:first-child, #details_table tr td:first-child
{
    text-align: right;
}

#cloth_picker tr td:nth-child(2)
{
    padding-left: 10px;
}

#submit_button
{
    border-color: lightgrey;
    border-radius: 20px;
    color: #202020;
    width: 100%;
}

table tr td
{
    vertical-align: top;
}

#first_cell
{
    width: 200px;
}

#second_cell
{
    width: 340px;
}

.caption
{
    display: block;
    color: #202020;
    font-size: 22px;
    font-family: cursive;
    text-align: center;
}

#post_cell
{
    text-align: center !important;
    font-size: 16px;
    font-family: cursive;
    color: #aa0000;
}

/* WEATHER GUY STYLING */
#weather-guy
{
    position: relative;
    float: left;
    width: 200px;
}

#weather-guy img
{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#head, #torso, #legs, #boots
{
    position: absolute;
    width: 100%;
}

#head img, #torso img, #legs img, #boots img
{
    width:100%;
}
