/* ONLI FOR TASKS PLANER */
#add {
	width: 200px;
	margin: 0 auto;
}

#info {
	margin-bottom: 5px;
	font-size: 1.1em;
	text-align: center;
	color: red;
}

#comboBox {
	width: 100%;
}

#addButton{
	margin-top: 5px;
	width: 100%;
    border-radius: 20px;
}

#addButton:hover{
    background-color: #4a708b;
    color: white;
}
	
/* END */


#content
{
	/*background: blue;*/
	width: 1300px;
}

#days-list
{
	width: 85%;
	margin: 0 auto;
	list-style-type: none;
}

.days-item
{
	display: block;
	width: 19%;
	height: 30em;
	float: left;
	position: relative;
	margin-right: 1%;
}

.forecast-frame
{
	height: 100%;
	border: solid 1px black;
}

/*
WEATHER INFO RELATED
 */

.weather
{
	float: left;
	width: 100%;
	/*background: purple;*/
}

.weather-icon
{
	margin-top: 0.5em;
	margin-left: 0.8em;
	width: 40%;
	float: left;
	/*background: green;*/
}

.weather-info
{
	margin-top: 0.5em;
	text-align: center;
	width: 50%;
	float: right;
	/*background: yellow;*/
}

.weather-info *
{
	padding-left: 5px;
}

/*
WEATHER GUY RELATED
 */

#weather-guy 
{
	position: relative;
	width: 124px;
	margin: 0 auto;
}

#weather-guy img 
{
	width: 100%;
}

#head 
{
	position: absolute;
	width: 100%;
}

#head img 
{	
	width:100%;
}

#body 
{
	position: absolute;
	width: 100%;
}

#body img 
{
	width: 100%;
}

#pants 
{
	position: absolute;
	width: 100%;
}

#pants img 
{
	width: 100%;
}

#boots 
{
	position: absolute;
	width: 100%;
}

#boots img
{
	width: 100%;
}

/*
TASKS RELATED
 */

.tasks
{
	height: 20%;
	width: 100%;
	display: block;
	position: relative;
	bottom: 0;
	margin-top: 5px;
	/*background: green;*/
}

.tasks-list
{
	text-align: center;
	list-style-type: none;
}

.tasks-list li
{
	height: 33%;
}

.day 
{
	text-align: center;
	background-color: #4a708b;
}

.day h2
{
    color: #FFF;
    font-weight: 300;
}