#frame 
{
	/* All other things are calculated with that height */
	/* changing this will affect whole layout*/
	height: 500px;
	width: 600px;
}

/* WEATHER GUY */

#weather-guy 
{
	position: relative;
	float: left;
	width: 29%;
}

#weather-guy img 
{
	display: block;
	margin: 0 auto;
	width: 100%;
}

#head 
{
	position: absolute;	
	width: 100%;
}

#head img 
{	
	width:100%;
}

#body 
{
	position: absolute;
	width: 100%;
}

#body img 
{
	width: 100%;
}

#pants 
{
	position: absolute;
	width: 100%;
}

#pants img 
{
	width: 100%;
}

#boots 
{
	position: absolute;
	width: 100%;
}

#boots img
{
	width: 100%;
}

/* ----------------- */

#frame #info-panel 
{
	float: right;
	height:45%;
	width: 65%;
}

#frame #tasks 
{
	float: right;
	height: 43%;
	width: 65%;
}

#frame #tasks-title
{
	text-align: left;
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 80px;
    height: 10%;

    margin-left: 20%;
}

#frame #tasks-list
{
    height: 75%;
    vertical-align: middle;

    font-weight: 300;
    font-size: 1.4em;

    margin-top: 10px;
    margin-left: 28%;
}

#frame #tasks-list li
{
    padding: 5px 0;
    width: 100%;
}

/* info-panel -> first line */
#frame #info-panel #first-line 
{
	height: 60%;
	width: 100%;
}

#frame #info-panel #first-line #icon 
{
	float: left;
	height: 100%;
	width: 45%;
}

#frame #info-panel #first-line #icon img
{
	display: block;
	height: 100%;
	margin: 0 auto;
}

#frame #info-panel #first-line #temperature
{
	float: right;
	height: 100%;
	width: 55%;
}

#frame #info-panel #first-line #temperature p 
{
	position: relative;

	font-weight: 100;
	font-size: 9em;

	text-align: center;
	line-height: 0.8;
	letter-spacing: -0.05em;
}

/* info-panel -> second-line */
#frame #info-panel #second-line 
{
	width: 100%;
	height: 25%;
}

#frame #info-panel #second-line p
{
	position: relative;
	text-align: center;

	font-weight: 300;
	font-size: 3em;

	line-height: 0.8;
}

/* info-panel -> third-line */
#frame #info-panel #third-line 
{
	width: 100%;
	height: 15%;
}

#frame #info-panel #third-line p
{
	position: relative;
	text-align: center;

	font-weight: 300;
	font-size: 1.8em;

	line-height: 0.8;
}

/* info-panel -> fact of the day */

hr
{
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#frame #title-fact
{
	float: left;
	height: 5%;
	width: 100%;
	/* Push facts a bit down */
	margin-top: 35px;	
}

#frame #title-fact p
{
	margin-top: 4px;
	position: relative;
	font-size: 1em;
	font-weight: 500;
}

#frame #fact 
{
	float: left;
	width: 100%;
	margin-top: 3px;
}

#frame #fact p 
{
	position: relative;
	display: inline-block;
	text-align: center;

	font-weight: 300;
	font-size: 1.4em;
}

canvas { width: 100%; height: 100% }

@media screen and (max-width: 1920px) and (max-height: 1080px){
	#frame 
	{
		height: 650px;
		width: 100%;
	}

	#frame #info-panel #first-line #temperature p 
	{
		font-size: 12.7em;
	}

	#weather-guy 
	{
		width: 26%;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	#frame 
	{
		height: 500px;
		width: 100%;
	}

	#frame #info-panel #first-line #temperature p 
	{
		font-size: 9.9em;
	}

	#frame #info-panel #second-line p 
	{
		font-size: 2.5em;
	}

	#frame #info-panel #third-line p 
	{
		font-size: 1.5em;
	}

	#weather-guy 
	{
		width: 26%;
	}

	#frame #title-fact p 
	{
		font-size: 1em;
	}

	#frame #fact p 
	{
		font-size: 1.2em;
	}

	#frame #tasks-title
	{
		font-size: 1em;
		margin-top: 60px;
	}

	#frame #tasks-list
	{
		margin-top: 6px;
		font-size: 1.2em;
	}
}

@media screen and (max-height: 740px){

	#frame 
	{
		height: 450px;
		width: 100%;
	}

	#frame #info-panel #first-line #temperature p 
	{
		font-size: 8em;
	}

	#frame #info-panel #second-line p 
	{
		font-size: 1.8em;
	}

	#frame #info-panel #third-line p 
	{
		font-size: 1.4em;
	}

	#weather-guy 
	{
		width: 28%;
	}

	#frame #title-fact p 
	{
		font-size: 0.8em;
	}

	#frame #fact p 
	{
		font-size: 1em;
	}

	#frame #tasks-title
	{
		font-size: 0.8em;
		margin-top: 36px;
	}

	#frame #tasks-list
	{
		margin-top: 4px;
		font-size: 1em;
	}

	#frame #title-fact
	{
		/* Push facts a bit down */
		margin-top: 0px;	
	}
}

@media screen and (max-height: 600px){

	#frame 
	{
		height: 300px;
		width: 100%;
	}

	#frame #info-panel #first-line #temperature p 
	{
		font-size: 5em;
	}

	#frame #info-panel #second-line p 
	{
		font-size: 1.5em;
	}

	#frame #info-panel #third-line p 
	{
		font-size: 1em;
	}

	#weather-guy 
	{
		width: 28%;
	}

	#frame #title-fact p 
	{
		font-size: 0.7em;
	}

	#frame #fact p 
	{
		font-size: 0.8em;
	}

	#frame #tasks-title
	{
		font-size: 0.7em;
		margin-top: 20px;
	}

	#frame #tasks-list
	{
		margin-top: 3px;
		font-size: 0.8em;
	}

	#frame #title-fact
	{
		/* Push facts a bit down */
		margin-top: 0px;	
	}
}