#login-title
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

table
{
    width: 100%;
}

td
{
    width: 100%;
    text-align: center;
    padding: 2px 0;
}

input[type=text], input[type=password]
{
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
}

input[type=submit]
{
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    width: 100px;
    height: 25px;
    margin-top: 20px;
}