.dayContainer
{
	width: 500px;
	height: 50px;
	border: solid 1px black;
}

.dayContainer ul
{
	width: 480px;
	margin: 5px auto 0 auto;
}

.dayContainer li
{
	display: inline;
}

.r 
{
	border: solid 1px red;
}