#user-title
{
	text-align: center;
}

table
{
	width: 75%;
	margin: 25px auto 0 auto;
}

td
{
    padding: 5px 0;
}

td:first-child
{
    width: 50%;
	text-align: right;
	padding-right: 20px;
}

td:last-child
{
    width: 50%;
	text-align: left;
	padding-left: 20px;
}

input[type=text], input[type=password]
{
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
}

select
{
    border: 2px solid #ccc !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url('https://www.jabongworld.com/skin/frontend/default/blank/images/arrow-black-down.png') no-repeat 97% center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 265px;
    height: 25px;
    padding-left: 5px
}

input[type=submit], button
{
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    width: 100px;
    height: 25px;
    margin-top: 20px;
}

#button_row
{
    text-align: center;
}

#input_warning, #show_div, #add_button
{
    display: none;
}

.green-sea-flat-button 
{
    position: relative;
    vertical-align: top;
    width: 180px;
    height: 40px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #16a085;
    border: 0;
    border-bottom: 2px solid #14947b;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #14947b;
    box-shadow: inset 0 -2px #14947b;
}

.green-sea-flat-button:active 
{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}